apiVersion: 1
datasources:
  - name: Loki
    type: loki
    access: proxy
    url: http://loki:3100
    uid: P8E80F9AEF21F6940
    jsonData:
      derivedFields:
        - datasourceUid: P214B5B846CF3925F
          matcherRegex: '"?traceId"?\s*[:=]\s*"?([0-9a-fA-F]+)"?'
          name: TraceID
          url: '$${__value.raw}'
          datasourceName: Tempo

  - name: Tempo
    type: tempo
    access: proxy
    url: http://tempo:3200
    uid: P214B5B846CF3925F
    isDefault: false
    jsonData:
      nodeGraph:
        enabled: true

  - name: Prometheus
    type: prometheus
    access: proxy
    isDefault: true
    url: http://prometheus:9090
