apiVersion: apps/v1
kind: Deployment
metadata:
  name: los-app
  namespace: observability-sandbox
spec:
  replicas: 1
  selector:
    matchLabels:
      app: los-app
  template:
    metadata:
      labels:
        app: los-app
    spec:
      containers:
        - name: los-app
          image: us-docker.pkg.dev/mythic-byway-392817/observability/los-app:0483cd3
          ports:
            - containerPort: 8080
          resources:
            requests:
              cpu: "300m"
              memory: "512Mi"
            limits:
              cpu: "500m"
              memory: "1Gi"
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 10
