apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasources
  namespace: observability-sandbox
  labels:
    grafana_datasource: "1"
data:
  datasources.yaml: |
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        access: proxy
        url: http://prom-kube-prometheus-stack-prometheus.observability-sandbox.svc:9090
        uid: PBFA97CFB590B2093
        jsonData:
          timeInterval: 30s
      - name: Loki
        type: loki
        access: proxy
        url: http://loki.observability-sandbox.svc:3100
        uid: P8E80F9AEF21F6940
        jsonData:
          derivedFields:
            - datasourceUid: PBFA97CFB590B2093
              matcherRegex: '\\"traceId\\":\\"([a-f0-9-]+)'
              name: traceId
              url: '$${__value.raw}'
      - name: Tempo
        type: tempo
        access: proxy
        url: http://tempo.observability-sandbox.svc:3200
        uid: P214B5B846CF3925F
        jsonData:
          tracesToLogs:
            datasourceUid: P8E80F9AEF21F6940
            mappedTags:
              - key: service
                value: service
            mappedTagsValue: true
            filterByTraceID: true
            filterBySpanID: true
          serviceMap:
            datasourceUid: PBFA97CFB590B2093
          nodeGraph:
            enabled: true
