apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasources
  namespace: observability-sandbox
data:
  datasources.yaml: |
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        access: proxy
        isDefault: true
        uid: PBFA97CFB590B2093
        url: http://prom-kube-prometheus-stack-prometheus:9090

      - name: Loki
        type: loki
        access: proxy
        uid: P8E80F9AEF21F6940
        url: http://loki:3100
        jsonData:
          derivedFields:
            - name: TraceID
              matcherRegex: '"?traceId"?\s*[:=]\s*"?([0-9a-fA-F]+)"?'
              datasourceUid: P214B5B846CF3925F
              datasourceName: Tempo
              url: '$${__value.raw}'

      - name: Tempo
        type: tempo
        access: proxy
        url: http://tempo:3200
        uid: P214B5B846CF3925F
        jsonData:
          nodeGraph:
            enabled: true
